.face{
    height:250px;
    width:250px;
    margin:auto;
    border-radius: 50%;
    background-color: pink;
    position:absolute;
    margin-top:5%;
    border :1.7px solid black;
}
.ears{
    display: flex;
    justify-content: space-evenly;
    position:relative;
    width:250px;
    margin-top:14%;
    margin:auto;

}
#lear{
    height:100px;
    width:85px;
    background-color: pink;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border:1.7px solid black;
    margin-right:20px;
}
#rear{
    height:100px;
    width:85px;
    background-color: pink;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border:1.7px solid black;
    margin-left:20px;
}


.eyes{
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    width:300px;
    margin-top: 55px;
    margin-left:8px;

}
#leye{
    height:60px;
    width:60px;
    background-color: white;
    border-radius: 50%;
    margin-right:40px;   
}
#reye{
    height:60px;
    width:60px;
    background-color: white;
    border-radius: 50%;
    margin-right:70px;}

#lp,#rp{
    height:26px;
    width:26px;
    background-color: black;
    border-radius: 50%;
    margin-top:33%;
    margin-left:17px;
    
}.nose
{
    height:65px;
    width:110px;
    display: flex;
    background-color: red;
    border-radius:80%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border:1.7px solid black;
    margin-top:55%;
    margin-left:27%;
}
#ln
{
    height:30px;
    width:30px;
    background-color: black;
    border-radius:50%;
    margin-top:16%;
    margin-left:13%;
    
}
#rn
{
    height:30px;
    width:30px;
    background-color: black;
    border-radius:50%;
    margin-top:16%;
    margin-left:20%;
    
}